*.in
private_build.h
*.dll
*.o
*.la
*.lo
*.log
config.*
.compile
.deps
.libs
aclocal.m4
Makefile
libtool
.dirstamp
stamp-h1
configure
configure.sh
config/*
m4/lt*
m4/libtool*
autom4te.*
version
sylplugin-factory.pc
sylplugin_factory-*.tar.gz
res/version.rc

