language: c
compiler:
  - gcc
  - clang
notifications:
  recipients:
    - kenhys@gmail.com
before_script:
#  - sudo apt-get install sylpheed
  - wget http://sylpheed.sraoss.jp/sylpheed/v3.3/sylpheed-3.3.0.tar.bz2
  - tar ixf sylpheed-3.3.0.tar.bz2
  - (cd sylpheed-3.3.0; ./configure --prefix=/usr; make; sudo make install)
  - ./autogen.sh
script:
  - ./configure --with-sylpheed-build-dir=`pwd`/sylpheed
  - make
